
h1 {
  font-size: 1.2em; /*21.6px @18px em*/
  line-height: 2.037em; /*44px @21.6px em*/
}

h2 {
  font-size: 2.488em; /*44.79px @18px em */
  line-height: 1.474em; /*66px @ 44.79px em*/
}

h3 {
  font-size: 1.729em; /*31.104px @18px em */
  line-height: 1.415em; /* 44px @ 31.104px em */
}

h4 {
  font-size: 1.44em; /*25.92px @18px em*/
  line-height: 1.273em; /*33px @25.92px em */
}

h4 {
  font-size: 1.2em; /*21.6px @18px em*/
  line-height: 1.019em; /*33px @21.6px em*/
}
